<!-- Written by Sariwati 2017 -->
<ion-view view-title="Itinerary">
<ion-nav-bar class="bar-dark">
</ion-nav-bar>
  <ion-content class="padding bg-space" delegate-handle="bottom2">
    <div ng-hide="showiti">
      <ion-item class="item-text-wrap bg-transparent" align="center"><span class="my-yellow">You have no Itinerary yet.<br>
      <br>Please chat with our friendly humanoid bot <span class="stable">Genos</span> to choose your galactic adventure<br>
      <br>Or.. just have a chat with him anyway, if you have nothing better to do..</span>
      </ion-item>
    </div>
    <div ng-show="showiti">
      <ion-item class="item-text-wrap bg-transparent">
        <span class="my-yellow">
          Departure planet: <strong class="stable">Earth</strong><br>
          <br>
          Destination planet: <strong class="stable">{{planet.name}}</strong><br>
          Details:<ul>
          <li>Diameter: <span class="stable">{{planet.diameter | number}} km</span></li>
          <li>Gravity: <span class="stable">{{planet.gravity}} G</span></li>
          <li>Climate: <span class="stable">{{planet.climate}}</span></li>
          <li>Terrain: <span class="stable">{{planet.terrain}}</span></li>
          <li>Population: <span class="stable">{{planet.population | number}}</span></li>
          </ul>
          <br>
          Estimated distance from Earth: <span class="stable">{{planet.distance | number}} km</span><br>
          Estimated travel duration: <span class="stable">{{planet.duration}} years</span><br>
          <br>
          Would you like to purchase a <span class="stable">Han Solo Cover-All-Eventuality</span> travel insurance?
        </span>
      </ion-item>
      <br>
      <ion-item class="item-text-wrap bg-transparent" align="center">
        <span class="stable">Thank you for booking with us. You are number <span ng-if="planet.que" class="my-yellow">{{planet.que}}</span><span ng-if="!planet.que" class="my-yellow">101</span> in the queue<br>
        <br>Our human-friendly customer service will be in touch with you shortly.
        </span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
