<ion-view view-title="About">
<ion-nav-bar class="bar-yellow">
</ion-nav-bar>
  <ion-content class="padding has-footer bg-chew">
  	This travel agency is owned by the renowned pilot Chewbacca, who is a Wookiee military leader, smuggler (retired), and resistance fighter who fought in the Clone Wars, the Galactic Civil War, and the conflict between the First Order and the Resistance. His home planet is Kashyyyk.<br><br>
  	Born in 200 BBY, Chewbacca became a navigator of the Claatuvac Guild and fought alongside Jedi Grand Master Yoda at the Battle of Kashyyyk during the Clone Wars, but was condemned to slavery by the Galactic Empire. Rescued by Han Solo, he swore a life-debt to Solo and accompanied him throughout his smuggling career.<br><br>
  	Chewbacca is technologically savvy as well as a skilled mechanic. He spoke Shyriiwook, the main Wookiee language, composed largely of growls and grunts, to his non-Wookiee companions who typically replied in Basic.<br><br>
  	<strong>Vital Stats:</strong><ul>
  	<li>Height: {{chew.height}} cm</li>
  	<li>Mass: {{chew.mass}} kg</li>
  	<li>Hair Colour: {{chew.hair_color}}</li>
  	<li>Eye Colour: {{chew.eye_color}}</li>
  	</ul>
  </ion-content>
  <ion-footer-bar class="bar-yellow"><p class="font-12">* Disclaimer: this app makes no claim to Star Wars' ownership or any of the copyrights</p>
  </ion-footer-bar>
</ion-view>
